* {
	padding: 0;
	margin: 0;
}

header {
	background: #000000;
}

body {
	background: #C0C0C0;
}

.submodule, .alignment, .list-group-item {
	background: #444444;
	border-radius: 10px;
}

.font_btn {
	font-size: 30px;
}

ol {
	border-color: #ffffff;
}

table {
	background: #ffffff;
	border-radius: 10px;
}

.a {
    border-bottom: none;
}

.btn {
	background: #000000;
	border-radius: 10px;
	font-size: 20px;
}

.table-hover {
	color: #ffffff;
}

.delete_post {
	display: none;
}

.form-control {
	border-radius: 10px;
	font-size: 20px;
}

.form_book {
	display: none;
}

.delete_back {
	background: #dc3545;
}

.login_field {
	/*display: block;
	height: 4%;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	border: 10px;
	border-radius: 15px;
	font-size: 70%;
	padding-left: 1%;
	text-align: center;*/
}

