{% extends "base.html" %}
{% load static %}
{% block title %}MyBC{% endblock %}

{% block content %}
	<main>
		<section class="subheader">
			<div class="container">
				<div class="submodule mt-3 mb-2">
					<div class="btn-group w-100 p-3">
						<a href="{% url 'books' username %}" class="btn btn-outline-light p-3">Книги</a>
						<a href="{% url 'courses' username %}" class="btn btn-outline-light p-3">Курсы</a>
						<a href="{% url 'articles' username %}" class="btn btn-outline-light p-3">Статьи</a>
						<a href="{% url 'videos' username %}" class="btn btn-outline-light p-3">Видео</a>
					</div>
				</div>
			</div>
		</section>
		<section class="common_field">
			<div class="container">
				<div class="alignment">
					<h1 class="text-center text-white p-2">{{ username }}</h1>
					{% if count_books != 0 or count_courses != 0 or count_articles != 0 or count_videos != 0  %}
					<div class="col m-3 p-3 aaa">
						<canvas id="pie-chart" width="600" height="400" class="mx-auto"></canvas>
					</div>
					<script>
						new Chart(document.getElementById("pie-chart"), {
						maintainAspectRatio: false,
					    type: 'pie',
					    data: {
					      	labels: ["Книги", "Курсы", "Статьи", "Видео"],
					      	datasets: [{
					        	backgroundColor: ["#0d6efd", "#dc3545","#198754","#ffc107"],
					        	data: [{{count_books}},{{count_courses}},{{count_articles}},{{count_videos}}]
					      	}]
					    },
					    options: {
					    	responsive: true,
					    	maintainAspectRatio: false,
					    	legend: {
                    			display: false,
                    			position: 'right',
                    			labels: {
                    				fontColor: "white",
                    				fontSize: 20,
                    				position: 'outside'
                				}
                			},
            //     			pieceLabel: {
						      //   render: 'label',
						      //   fontColor: 'white',
						      //   position: 'outside',
						      //   segment: true,
						      // }
                		},
					});
					</script>	
					{% endif %}
					<div class="container">
					  	<div class="row text-center text-white">
					    	<div class="col border border-white m-3 p-3 border_rad color_b">
					      		<h5>Прочитано книг:</h5>
					      		<h3>{{count_books}}</h3>
					    	</div>
					    	<div class="col border border-white m-3 p-3 border_rad color_c">
					      		<h5>Пройдено курсов:</h5>
					      		<h3>{{count_courses}}</h3>
					    	</div>
					    	<div class="col border border-white m-3 p-3 border_rad color_a">
					      		<h5>Прочитано статей:</h5>
					      		<h3>{{count_articles}}</h3>
					    	</div>
					    	<div class="col border border-white m-3 p-3 border_rad color_v">
					      		<h5>Просмотрено видео:</h5>
					      		<h3>{{count_videos}}</h3>
					    	</div>
					  	</div>
					</div>
					<div>
						<h3 class="text-white px-2 mx-2 pb-3">Последняя прочитанная книга:</h3>
						<div class="px-3 border_bottom">
							<table class="table text-break ml-3 table-hover text-dark border-bottom-0 border_bottom">
								<thead>
								    <tr>
								      	<th style="width:33%">Автор</th>
								      	<th style="width:33%">Название</th>
								      	<th style="width:33%">Дата</th>
								    </tr>
								 </thead>
							  	<tbody>
								    <tr>
								      	<td><h5 class="table_margin">{{ last_book.author }}</h5></td>
								      	<td><h5 class="table_margin">{{ last_book.title }}</h5></td>
								      	<td><h5 class="table_margin">{{ last_book.date }}</h5></td>
								    </tr>
							  	</tbody>
							</table>
						</div>
					</div>
					<div>
						<h3 class="text-white px-2 mx-2 pb-3">Последний пройденный курс:</h3>
						<div class="px-3 border_bottom">
							<table class="table text-break ml-3 table-hover text-dark border-bottom-0 border_bottom">
								<thead>
								    <tr>
								      	<th style="width:33%">Платформа</th>
								      	<th style="width:33%">Название</th>
								      	<th style="width:33%">Дата</th>
								    </tr>
								 </thead>
							  	<tbody>
								    <tr>
								      	<td><h5 class="table_margin">{{ last_course.place }}</h5></td>
								      	<td><h5 class="table_margin">{{ last_course.title }}</h5></td>
								      	<td><h5 class="table_margin">{{ last_course.date }}</h5></td>
								    </tr>
							  	</tbody>
							</table>
						</div>
					</div>
					<div>
						<h3 class="text-white px-2 mx-2 pb-3">Последняя прочитанная статья:</h3>
						<div class="px-3 border_bottom">
							<table class="table text-break ml-3 table-hover text-dark border-bottom-0 border_bottom">
								<thead>
								    <tr>
								      	<th style="width:33%">Ссылка</th>
								      	<th style="width:33%">Название</th>
								      	<th style="width:33%">Дата</th>
								    </tr>
								 </thead>
							  	<tbody>
								    <tr>
								      	<td><h5 class="table_margin">{{ last_article.link }}</h5></td>
								      	<td><h5 class="table_margin">{{ last_article.title }}</h5></td>
								      	<td><h5 class="table_margin">{{ last_article.date }}</h5></td>
								    </tr>
							  	</tbody>
							</table>
						</div>
					</div>
					<div>
						<h3 class="text-white px-2 mx-2 pb-3">Последнее просмотренное видео:</h3>
						<div class="px-3 pb-1 border_bottom">
							<table class="table text-break ml-3 table-hover text-dark border-bottom-0 border_bottom">
								<thead>
								    <tr>
								      	<th style="width:33%">Ссылка</th>
								      	<th style="width:33%">Название</th>
								      	<th style="width:33%">Дата</th>
								    </tr>
								 </thead>
							  	<tbody>
								    <tr>
								      	<td><h5 class="table_margin">{{ last_video.link }}</h5></td>
								      	<td><h5 class="table_margin">{{ last_video.title }}</h5></td>
								      	<td><h5 class="table_margin">{{ last_video.date }}</h5></td>
								    </tr>
							  	</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}