{% extends "base.html" %}
{% load static %}
{% block title %}MyBC{% endblock %}

{% block content %}
	<header>
		<button id="redact" class="btn_redact" onclick="redact()">Редактировать</button>
		<!-- <p class="username_field">{{ username }}</p> -->
		<a href="{% url 'logout' %}"><button class="btn_logout">Выйти</button></a>
	</header>
	<div class="submodule">
		<a href="{% url 'account' %}"><button class="switch_book">Книги</button></a>
		<a href="{% url 'account' %}"><button class="switch_courses">Курсы</button></a>
		<a href="{% url 'account' %}"><button class="switch_video">Видео</button></a>
		<a href="{% url 'account' %}"><button class="switch_article">Статьи</button></a>
	</div>
	<section class="main">
			<div class="alignment">
				<h1>Книги:</h1>		
				<div class="books">
					{% if books %}
						<ol>{% for book in books %}
								<form method="post">
									{% csrf_token %}
									<button class="delete_post" name="delete_book" value="{{ book.id }}"><img class="delete_img" src="{% static 'img/delete.png' %}" ></button>
								</form>
								<li>{{ book.author }}
								{{ book.title }}
								{{ book.date }}</li>
							{% endfor %}
						</ol>
					{% else %}
						<p class="alert_bc">Пока нет ни одной прочитанной книги</p>
					{% endif %}
				</div>
				<button class="btn_book" onclick="openForm()">Добавить книгу</button>
				<form class="form_book" name="form_book" method="POST">
					{% csrf_token %}
					<label class="first_label">Автор</label>
					{{ form_book.author }}
				  	<label class="second_label">Название</label>
				  	{{ form_book.title }}
				  	<label class="third_label">Дата</label>
				  	{{ form_book.date }}
				  	<button type="submit" name="btn_books">Отправить</button>
				</form>
				<h1>Курсы:</h1>
				<div class="courses">
					<ol>{% if courses %}
							{% for course in courses %}
								<form method="post">
									{% csrf_token %}
									<button class="delete_post" name="delete_course" value="{{ course.id }}"><img class="delete_img" src="{% static 'img/delete.png' %}" ></button>
								</form>
								<li>{{ course.place }}
								{{ course.title }}
								{{ course.date }}</li>
							{% endfor %}
						{% else %}
							<p class="alert_bc">Пока нет ни одного пройденного курса</p>
						{% endif %}
					</ol>
				</div>
				<button class="btn_course" onclick="openForm2()">Добавить курс</button>
				<form class="form_course" name="form_course" method="POST">
					{% csrf_token %}
					<label class="first_label">Платформа</label>
					{{ form_course.place }}
				  	<label class="second_label">Название</label>
				  	{{ form_course.title }}
				  	<label class="third_label">Дата</label>
				  	{{ form_course.date }}
				  	<button type="submit" name="btn_courses">Отправить</button>
				</form>
			</div>
	</section>
{% endblock %}