{% extends "base.html" %}
{% load static %}
{% block title %}MyBC{% endblock %}

{% block content %}
	<header>
		<button id="redact" class="btn_redact" onclick="redact()">Редактировать</button>
		<!-- <p class="username_field">{{ username }}</p> -->
		<a href="{% url 'logout' %}"><button class="btn_logout">Выйти</button></a>
	</header>
	<section class="subheader">
		<div class="submodule">
			<a href="{% url 'books' %}"><button class="switch_book">Книги</button></a>
			<a href="{% url 'courses' %}"><button class="switch_course">Курсы</button></a>
			<a href="{% url 'videos' %}"><button class="switch_video">Видео</button></a>
			<a href="{% url 'articles' %}"><button class="switch_article">Статьи</button></a>
		</div>
	</section>
	<section class="main">
			<div class="alignment">
				<h1>Статьи:</h1>
				<div class="courses">
					<ol>{% if articles %}
							{% for article in articles %}
								<form method="post">
									{% csrf_token %}
									<button class="delete_post" name="delete_article" value="{{ article.id }}"><img class="delete_img" src="{% static 'img/delete.png' %}" ></button>
								</form>
								<li>{{ article.link }}
								{{ article.title }}
								{{ article.date }}</li>
							{% endfor %}
						{% else %}
							<p class="alert_bc">Пока нет ни одного пройденного курса</p>
						{% endif %}
					</ol>
				</div>
				<button class="btn_course" onclick="openForm2()">Добавить статью</button>
				<form class="form_course" name="form_course" method="POST">
					{% csrf_token %}
					<label class="first_label">Сыылка</label>
					{{ form_article.link }}
				  	<label class="second_label">Название</label>
				  	{{ form_article.title }}
				  	<label class="third_label">Дата</label>
				  	{{ form_article.date }}
				  	<button type="submit" name="btn_article">Отправить</button>
				</form>
			</div>
	</section>
{% endblock %}