{% extends "base.html" %}
{% load static %}
{% block title %}MyBC{% endblock %}

{% block content %}
	<!-- <header>
		<a href="{% url 'logout' %}"><button class="btn_logout">Выйти</button></a>
	</header> -->
	<header>
		<nav class="navbar navbar-dark">
		  	<div class="container-fluid">
		    	<a class="navbar-brand flex-grow-1">MyBC</a>
		    	<form class="d-flex me-3">
			      	<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			      	<button class="btn btn-outline-light" type="submit">Search</button>
			    </form>
		    	<div class="text-end">
          			<a href="" type="button" class="btn btn-warning me-2">Login</a>
          			<a href="" type="button" class="btn btn-warning">Sign-up</a>
        		</div>
		  	</div>
		</nav>
	</header>	
	<!-- <section class="subheader">
		<div class="submodule">
			<a href="{% url 'books' %}"><button class="switch_book">Книги</button></a>
			<a href="{% url 'courses' %}"><button class="switch_course">Курсы</button></a>
			<a href="{% url 'videos' %}"><button class="switch_video">Видео</button></a>
			<a href="{% url 'articles' %}"><button class="switch_article">Статьи</button></a>
		</div>
	</section> -->
	<main>
		<section class="subheader">
			<div class="container">
				<div class="submodule mt-3 mb-2">
					<div class="btn-group w-100 p-3">
						<a href="#" class="btn btn-outline-light p-3 active" aria-current="page">Книги</a>
						<a href="#" class="btn btn-outline-light p-3">Курсы</a>
						<a href="#" class="btn btn-outline-light p-3" >Статьи</a>
						<a href="#" class="btn btn-outline-light p-3">Видео</a>
					</div>
				</div>
			</div>
		</section>
		<!-- <section class="main">
				<div class="alignment">
					<button id="redact" class="btn_redact" onclick="redact()">Редактировать</button>
					<div class="switch_future">
						<a href="{% url 'future_books' %}"><button class="switch_book">Хочу прочитать</button></a>
						<a href="{% url 'books' %}"><button class="switch_book">Прочитал</button></a>
					</div>
					<h1>Книги:</h1>		
					<div class="books">
						{% if books %}
							<ol>{% for book in books %}
									<form method="post">
										{% csrf_token %}
										<button class="delete_post" name="delete_book" value="{{ book.id }}"><img class="delete_img" src="{% static 'img/delete.png' %}" ></button>
									</form>
									<li>{{ book.author }}
									{{ book.title }}
									{{ book.date }}</li>
								{% endfor %}
							</ol>
						{% else %}
							<p class="alert_bc">Пока нет ни одной прочитанной книги</p>
						{% endif %}
					</div>
					<button class="btn_book" onclick="openForm()">Добавить книгу</button>
					<form class="form_book" name="form_book" method="POST">
						{% csrf_token %}
						<label class="first_label">Автор</label>
						{{ form_book.author }}
					  	<label class="second_label">Название</label>
					  	{{ form_book.title }}
					  	<label class="third_label">Дата</label>
					  	{{ form_book.date }}
					  	<button type="submit" name="btn_books">Отправить</button>
					</form>
				</div>
		</section> -->
		<section class="common_field">
			<div class="container">
				<div class="alignment">
					<div class="btn-group p-3 w-100">
						<a href="#" class="btn btn-outline-light">Редактировать</a>
						<a href="#" class="btn btn-outline-light">Добавить книгу</a>
					</div>
					<h1 class="text-center text-white p-2">Книги</h1>
					<div class="text-center">
						<div class="btn-group p-3 w-40">
							<a href="#" class="btn btn-outline-light active">Прочитанные</a>
							<a href="#" class="btn btn-outline-light">Хочу прочитать</a>
						</div>
					</div>
					<!-- <ol class="list-group list-group-flush p-3 text-left text-break">
					  	<li class="list-group-item text-white">Cras justo odio</li>
					  	<li class="list-group-item text-white">Dapibus ac facilisis in</li>
					  	<li class="list-group-item text-white">Morbi leo risus</li>
					  	<li class="list-group-item text-white">Porta ac consectetur ac</li>
					  	<li class="list-group-item text-white">Vestibulum at eros;sadkhdiljasgvdisavdiuasgvduisavdiuavsiudvsaidvsai</li>
					</ol> -->
					<div class="p-3">
						<table class="table text-break ml-3 table-hover text-dark border-bottom-0">
							<thead>
						    	<tr>
						      		<th scope="col"><h5>№</h5></th>
						      		<th scope="col"><h5>Author</h5></th>
						      		<th scope="col"><h5>Title</h5></th>
						      		<th scope="col"><h5>Date</h5></th>
						    	</tr>
						  	</thead>
						  	<tbody>
							    <tr>
							      	<th scope="row"><h5>1</h5></th>
							      	<td><h5>Mark</h5></td>
							      	<td><h5>Otto</h5></td>
							      	<td><h5>@mdo</h5></td>
							    </tr>
							    <tr>
							      	<th scope="row" class="a"><h5>2</h5></th>
							      	<td class="a"><h5>Jacob</h5></td>
							      	<td class="a"><h5>Thornton</h5></td>
							      	<td class="a"><h5>@fat</h5></td>
							    </tr>
						  	</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}