{% extends "base.html" %}
{% load static %}
{% block title %}MyBC{% endblock %}

{% block content %}
	<main>
		<section class="subheader">
			<div class="container">
				<div class="submodule mt-3 mb-2">
					<div class="btn-group w-100 p-3">
						<a href="{% url 'books' username %}" class="btn btn-outline-light p-3">Книги</a>
						<a href="{% url 'courses' username %}" class="btn btn-outline-light p-3 active" aria-current="page">Курсы</a>
						<a href="{% url 'articles' username %}" class="btn btn-outline-light p-3" >Статьи</a>
						<a href="{% url 'videos' username %}" class="btn btn-outline-light p-3">Видео</a>
					</div>
				</div>
			</div>
		</section>
		<section class="common_field">
			<div class="container">
				<div class="alignment">
					{% if user.is_authenticated and request.user == username %}
						<div class="btn-group p-3 w-100">
							<button id="redact" class="btn btn-outline-light btn_redact" onclick="redact()">Редактировать</button>
							<button class="btn btn-outline-light btn_book" onclick="openForm()">Добавить книгу</button>
						</div>
					{% endif %}
					<div class="p-3 form_course">
						<form method="POST">
							{% csrf_token %}
						  	<div class="row g-3 align-items-center">
						    	<div class="form-group col-md-4 mb-1 lh-3">
						    		{{ form_course.place }}
						      	</div>
						      	<div class="form-group col-md-4 mb-1">
						      		{{ form_course.title }}
						      	</div>
						      	<div class="form-group col-md-4 mb-1">
						      		{{ form_course.date }}
						    	</div>
						  	</div>
						  	<button type="submit" class="btn btn-lg btn-block btn-outline-light w-100 mt-2" name="btn_courses">Отправить</button>
						</form>
					</div>
					<h1 class="text-center text-white p-2">Пройденные курсы:</h1>
					<div class="text-center">
						<div class="btn-group p-3 w-40">
							<a href="{% url 'courses' username %}" class="btn btn-outline-light active">Изучил</a>
							<a href="{% url 'future_courses' username %}" class="btn btn-outline-light">Хочу изучить</a>
						</div>
					</div>
					{% if courses %}
							<div class="p-3">
								<table class="table text-break ml-3 table-hover text-dark border-bottom-0">
									<thead>
								    	<tr>
								      		<th scope="col"><h5>№</h5></th>
								      		<th scope="col"><h5>Платформа</h5></th>
								      		<th scope="col"><h5>Название</h5></th>
								      		<th scope="col"><h5>Дата</h5></th>
								    	</tr>
								  	</thead>
								  	<tbody>
								  		{% for course in courses %}
										    <tr>
										      	<th scope="row"><h5>{{ forloop.counter }}</h5></th>
										      	<td><h5>{{ course.place }}</h5></td>
										      	<td><h5>{{ course.title }}</h5></td>
										      	<td><h5>{{ course.date }}</h5></td>
										      	<td class="delete_post">
										      		<form method="POST">
														{% csrf_token %}
														<li class="list-inline-item">
															<button class="btn btn-danger btn-sm rounded-0 delete_back" type="submit" name="delete_course" value="{{ course.id }}"><i class="fa fa-trash"></i></button>
														</li>
													</form>
												</td>
										    </tr>
									    {% endfor %}
								  	</tbody>
								</table>
							</div>
					{% else %}
						<p class="h4 text-center text-white p-1">Пока нет ни одного пройденного курса</p>
					{% endif %}
				</div>
			</div>
		</section>
	</main>
{% endblock %}
