{% extends "base.html" %}
{% load static %}
{% block title %}MyBC{% endblock %}

{% block content %}
	<section class="subheader">
		<div class="submodule">
			<a href="{% url 'books' %}"><button class="switch_book">Книги</button></a>
			<a href="{% url 'courses' %}"><button class="switch_course">Курсы</button></a>
			<a href="{% url 'videos' %}"><button class="switch_video">Видео</button></a>
			<a href="{% url 'articles' %}"><button class="switch_article">Статьи</button></a>
		</div>
	</section>
	<section class="main">
			<div class="alignment">
				{% if user_exist %}
					<h1>Книги:</h1>		
					<div class="books">
						<ol>
							{% if books %}
								{% for book in books %}
									<li>{{ book.author }}
									{{ book.title }}
									{{ book.date }}</li>
								{% endfor %}
							{% else %}
								<p class="alert_bc">Пока нет ни одной пройденной книги</p>
							{% endif %}
						</ol>
					</div>
					<h1>Курсы:</h1>
					<div class="courses">
						<ol>
							{% if courses %}
								{% for course in courses %}
									<li>{{ course.place }}
									{{ course.title }}
									{{ course.date }}</li>
								{% endfor %}
							{% else %}
								<p class="alert_bc">Пока нет ни одного пройденного курса</p>
							{% endif %}
						</ol>
					</div>
				{% else %}
					<h2>Такого пользователя не существует</h2>
				{% endif %}
			</div>
	</section>
{% endblock %}