{% extends "base.html" %}
{% load static %}
{% block title %}Registration{% endblock %}

{% block content %}
<section class="common_field">
	<div class="container">
		<div class="alignment mt-3 text-center">
			<h1 class="text-center text-white p-2">Регистрация</h1>
			<form method="POST">{% csrf_token %}
				{% for message in messages %}
				<p>{{message}}</p>
				{% endfor %}
				<!-- <label class="label_username">Имя пользователя</label>
				{{ form.username }}
				<label class="label_email">Email</label>
				{{ form.email }}
				<label class="label_password">Пароль</label>
				{{ form.password1 }}
				<label class="label_password2">Повторите пароль</label>
				{{ form.password2 }}
				<button type="submit" class="btn_reg_submit">Создать</button> -->
				<div class="form-group w-50 offset-3 h5">
			    	<label class="text-white p-2" for="Login">Логин</label>
			    	{{ form.username }}
			  	</div>
			  	<div class="form-group w-50 offset-3 h5">
			    	<label class="text-white p-2" for="Email">Email</label>
			    	{{ form.email }}
			  	</div>
			  	<div class="form-group w-50 offset-3 h5">
			    	<label class="text-white p-2" for="Password1">Пароль</label>
			    	{{ form.password1 }}
			  	</div>
			  	<div class="form-group w-50 offset-3 h5">
			    	<label class="text-white p-2" for="Password2">Повторите пароль</label>
			    	{{ form.password2 }}
			  	</div>
			  	<button type="submit" class="btn btn-outline-light m-3 w-25">Регистрация</button>
			</form>
			{% if form.errors %}
		   		{% for field in form %}
		      		{% for error in field.errors %}
		          		<h3 class="errors_password">{{ error|escape }}</h3>
		      		{% endfor %}
		   		{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}