{% extends "base_auth.html" %}
{% load static %}
{% block title %}Reset password{% endblock %}

{% block content %}
<section class="common_field">
	<div class="container">
		<div class="alignment mt-3 text-center">
			<h1 class="text-center text-white p-2">Сброс пароля</h1>
			<p class="text-white">Введите Email, для сброса и создания нового пароля</p>
			<form method="POST">
				{% csrf_token %}
				{% if form.errors %}
	   				{% for field in form %}
	      				{% for error in field.errors %}
	          				<h3 class="errors_password">{{ error|escape }}</h3>
	      				{% endfor %}
	   				{% endfor %}
				{% endif %}
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			 	<div class="form-group w-50 offset-3 h5">
			    	<label class="text-white p-2">Email</label>
			    	{{ form.email }}
			  	</div>
			  	<button type="submit" class="btn btn-outline-light m-3 w-25">Отправить</button>
			</form>
		</div>
	</div>
</section>
{% endblock %}