{% extends "base.html" %}
{% load static %}
{% block title %}MyBC{% endblock %}

{% block content %}
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark">
		  	<div class="container-fluid">
		    	<a href="{% url 'account' %}" class="navbar-brand">MyBC</a>
		    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    				<span class="navbar-toggler-icon"></span>
  				</button>
  				<div class="collapse navbar-collapse" id="navbarSupportedContent">
  					<div class="d-flex ms-auto">
				    	<form action="{% url 'search' %}" method="GET" class="d-flex me-2 my-2 w-100">
					      	<input class="form-control me-2" type="search" placeholder="Найти пользователя" aria-label="Search" name="q" required>
					      	<button class="btn btn-outline-light" type="submit">Поиск</button>
					    </form>
		          		<!-- <a href="{% url 'login' %}" type="button" class="btn btn-warning my-2">Login</a>
		          		<a href="{% url 'registration' %}" type="button" class="btn btn-warning my-2">Sign-up</a> -->
		          		<a href="{% url 'logout' %}" type="button" class="btn btn-outline-danger my-2">Выйти</a>
	          		</div>
        		</div>
			</div>
		</nav>
	</header>
	<main>
		<section class="subheader">
			<div class="container">
				<div class="submodule mt-3 mb-2">
					<div class="btn-group w-100 p-3">
						<a href="{% url 'books' %}" class="btn btn-outline-light p-3">Книги</a>
						<a href="{% url 'courses' %}" class="btn btn-outline-light p-3">Курсы</a>
						<a href="{% url 'articles' %}" class="btn btn-outline-light p-3">Статьи</a>
						<a href="{% url 'videos' %}" class="btn btn-outline-light p-3 active" aria-current="page">Видео</a>
					</div>
				</div>
			</div>
		</section>
		<section class="common_field">
			<div class="container">
				<div class="alignment">
					<div class="btn-group p-3 w-100">
						<button id="redact" class="btn btn-outline-light btn_redact" onclick="redact()">Редактировать</button>
						<button class="btn btn-outline-light btn_video" onclick="openForm4()">Добавить видео</button>
					</div>
					<div class="p-3 form_video">
						<form method="POST">
							{% csrf_token %}
						  	<div class="row g-3 align-items-center">
						    	<div class="form-group col-md-4 mb-1 lh-3">
						    		{{ form_video.link }}
						      	</div>
						      	<div class="form-group col-md-4 mb-1">
						      		{{ form_video.title }}
						      	</div>
						      	<div class="form-group col-md-4 mb-1">
						      		{{ form_video.date }}
						    	</div>
						  	</div>
						  	<button type="submit" class="btn btn-lg btn-block btn-outline-light w-100 mt-2" name="btn_videos">Отправить</button>
						</form>
					</div>
					<h1 class="text-center text-white p-2">Прочитанные статьи:</h1>
					<div class="text-center">
						<div class="btn-group p-3 w-40">
							<a href="{% url 'videos' %}" class="btn btn-outline-light active">Прочитал</a>
							<a href="{% url 'future_videos' %}" class="btn btn-outline-light">Хочу прочитать</a>
						</div>
					</div>
					{% if videos %}
							<div class="p-3">
								<table class="table text-break ml-3 table-hover text-dark border-bottom-0">
									<thead>
								    	<tr>
								      		<th scope="col"><h5>№</h5></th>
								      		<th scope="col"><h5>Ссылка</h5></th>
								      		<th scope="col"><h5>Название</h5></th>
								      		<th scope="col"><h5>Дата</h5></th>
								    	</tr>
								  	</thead>
								  	<tbody>
								  		{% for video in videos %}
										    <tr>
										      	<th scope="row"><h5>{{ forloop.counter }}</h5></th>
										      	<td><h5>{{ video.link }}</h5></td>
										      	<td><h5>{{ video.title }}</h5></td>
										      	<td><h5>{{ video.date }}</h5></td>
										      	<td class="delete_post">
										      		<form method="POST">
														{% csrf_token %}
														<li class="list-inline-item">
															<button class="btn btn-danger btn-sm rounded-0 delete_back" type="submit" name="delete_video" value="{{ video.id }}"><i class="fa fa-trash"></i></button>
														</li>
													</form>
												</td>
										    </tr>
									    {% endfor %}
								  	</tbody>
								</table>
							</div>
					{% else %}
						<p class="h4 text-center text-white p-1">Пока нет ни одного просмотренного видео</p>
					{% endif %}
				</div>
			</div>
		</section>
	</main>
{% endblock %}
	